<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>
<div id="menu" class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
          <div class="pure-menu pure-menu-open">
              <a class="pure-menu-heading" href="/">UBCourses</a>
              <ul>
                  <li ng-class="getClass('/')">
                      <a href="/">Courses</a>
                  </li>
                  <li ng-class="getClass('/professors')">
                      <a href="/professors">Professors</a>
                  </li>
                  <li class="menu-item-divided">
                      <a href="https://github.com/d4l3k/ubc-course">GitHub</a>
                  </li>
              </ul>
          </div>
    </div>
