$border: #ddd;
$border-active: darken($border, 20%);

$text-color: #666;
$bar-bg: $border;
$bar-fg: #1f8dd6;

@media screen and (min-width: 42em) {
  .reviews .review.expand .opinion {
    float: right;
    position: initial;
  }
}
input, select {
  border-radius: 0 !important;
  box-shadow: none !important;
  color: $text-color !important;
  &:hover { // &:focus {
    border-color: $border-active !important;
  }
  &:focus, &:active {
    border-color: #129FEA !important;
  }
}
@media (min-width: 58em) {
  .search-form.fixed {
    left: 160px !important;
  }
}
.pure-form input[type="text"] {
  padding: 0.53em 0.6em;
}
.grid-1-4 {
  margin: 5px 0;
  width: 25%;
  display: inline-block;
  text-align: center;
}
.search-form {
  text-align: left;
  &.fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid $border;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
div.pure-input-1 {
  padding: 0.5em 0.6em;
  border: 1px solid transparent;
}
@media screen and (min-width: 44em) {
  .grid-1-4 + .grid-1-4 {
    padding-left: 5px;
  }
}
@media screen and (max-width: 44em) {
  .grid-1-4 {
    width: 50%;
    &:nth-child(even) {
      float: right;
      padding-left: 2.5px;
    }
    &:nth-child(odd) {
      padding-right: 2.5px;
    }
  }
}

.course, .review {
  color: $text-color !important;
  border: 1px solid $border;
  padding: 10px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  position: relative;
  img {
    float: left;
    margin: 5px;
  }
  .description {
    display: block;
    font-size: 12pt !important;
    line-height: 14pt;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  max-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .actions {
    display: none;
  }
  &.expand {
    .description {
      white-space: initial;
      display: block;
    }
    .opinion {
      position: absolute;
      bottom: 8px;
      left: 10px;
      float: initial;
    }
    .actions {
      display: block;
      text-align: right;
    }
    white-space: initial;
    max-height: initial;
  }
  &.review .name {
    display: block;
  }
  .opinion {
    float: right;
    i {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .caret {
    float: right;
    position: absolute;
    right: 10px;
    top: 12px;
    display: inline-block;
  }
  .name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.course {
    .name {
      padding-right: 20px;
      width: 100%;
    }
  }
  .bars {
    * {
      padding: 0;
      margin: 0;
      font-size: 10pt;
      line-height: 10pt;
    }
  }
  &:hover, &:active, &:focus {
    border-color: $border-active;
  }
}

.coursepage {
  .submit-box {
    position: relative;
    h3 {
      display: inline-block;
    }
    .submit {
      margin: 1em;
      position: absolute;
      right: 0;
    }
  }
  .pure-form fieldset {
    padding: 0;
    label.pure-checkbox {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .progress-bar {
    text-align: left;
    .info {
      position: absolute;
      top: 0;
      right: 0;
    }
    .bar-bg {
      left: 0 !important;
      position: initial !important;
    }
    margin: 10px;
  }
}

.progress-bar {
  position: relative;
  .bar-bg {
    height: 5px;
    background-color: $bar-bg;
    position: absolute;
    left: 50px;
    right: 0;
    top: 50%;
    margin-top: -2.5px;
    .bar {
      height: 5px;
      background-color: $bar-fg;
    }
    &:hover .bar {
      background-color: lighten($bar-fg, 10%);
    }
  }
}
