$border: #ddd;
$border-active: darken($border, 20%);

$bar-bg: $border;
$bar-fg: #1f8dd6;

.course, .review {
  border: 1px solid $border;
  padding: 10px;
  display: block;
  margin: 10px;
  cursor: pointer;
  text-align: left;
  position: relative;
  img {
    float: left;
    margin: 5px;
  }
  .description {
    display: block;
    font-size: 12pt !important;
    line-height: 14pt;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  max-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .actions {
    display: none;
  }
  &.expand {
    .description {
      white-space: initial;
    }
    .actions {
      display: block;
      text-align: right;
    }
    white-space: initial;
    max-height: initial;
  }
  &.review .name {
    display: block;
  }
  .opinion {
    float: right;
  }
  .caret {
    float: right;
    display: inline-block;
  }
  .name {
    display: inline-block;
    width: initial;
  }
  .bars {
    * {
      padding: 0;
      margin: 0;
      font-size: 10pt;
      line-height: 10pt;
    }
  }
  &:hover, &:active {
    border-color: $border-active;
  }
}

.coursepage {
  .submit-box {
    position: relative;
    h3 {
      display: inline-block;
    }
    .submit {
      margin: 1em;
      position: absolute;
      right: 0;
    }
  }
  .pure-form fieldset {
    padding: 0;
    label.pure-checkbox {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .progress-bar {
    text-align: left;
    .info {
      position: absolute;
      top: 0;
      right: 0;
    }
    .bar-bg {
      left: 0 !important;
      position: initial !important;
    }
    margin: 10px;
  }
}

.progress-bar {
  position: relative;
  .bar-bg {
    height: 5px;
    background-color: $bar-bg;
    position: absolute;
    left: 50px;
    right: 0;
    top: 50%;
    margin-top: -2.5px;
    .bar {
      height: 5px;
      background-color: $bar-fg;
    }
    &:hover .bar {
      background-color: lighten($bar-fg, 10%);
    }
  }
}
