<div ng-include="'components/navbar/navbar.html'"></div>
<div class="hero coursepage">
    <div class="hero-titles">
      <h1 class="hero-site">{{course.id}}</h1>
      <h2 class="hero-tagline hero-smaller">{{course.name}} — {{course.description}}</h2>
    </div>
    <div class="content">
      <div class="bars">
        <div class="progress-bar">
          Like
          <div class="info">{{(course.like*100).toFixed(0)}}%</div>
          <div class="bar-bg">
            <div class="bar" style="width: {{course.like*100}}%"></div>
          </div>
        </div>
        <div class="progress-bar">
          Useful
          <div class="info">{{(course.useful*100).toFixed(0)}}%</div>
          <div class="bar-bg">
            <div class="bar" style="width: {{course.useful*100}}%"></div>
          </div>
        </div>
        <div class="progress-bar">
          Easy
          <div class="info">{{(course.easy*100).toFixed(0)}}%</div>
          <div class="bar-bg">
            <div class="bar" style="width: {{course.easy*100}}%"></div>
          </div>
        </div>
      </div>
      <div class="submit-box">
        <h3>Reviews ({{course.reviews.length}})</h3>
        <a class="pure-button submit" ng-click="openReview()">New</a>
      </div>
      <div class="reviews">
        <div class="review expand" ng-style="{display: reviewVisible}">
          <form class="pure-form pure-form-stacked">
            <fieldset>
              <legend>New Review</legend>
              <label for="field">Field of Interest</label>
              <select class="pure-input-1" name="field" ng-model="foi">
                <option ng-repeat="fl in fois">{{fl}}</option>
              </select>
              <label for="professor">Professor</label>
              <select class="pure-input-1" name="professor" ng-model="professor">
                <option ng-repeat="professor in profs">{{professor}}</option>
              </select>

              <label for="like" class="pure-checkbox">
                <input id="like" type="checkbox" ng-model="like"> Like
              </label>
              <label for="useful" class="pure-checkbox">
                <input id="useful" type="checkbox" ng-model="useful"> Useful
              </label>
              <label for="easy" class="pure-checkbox">
                <input id="easy" type="checkbox" ng-model="easy"> Easy
              </label>

              <label for="text">Review</label>
              <textarea class="pure-input-1" name="text" type="text" ng-model="text"></textarea>
              <a class="pure-button pure-button-primary" ng-click="review()">Submit</a>
              <a class="pure-button" ng-click="closeReview()">Close</a>
            </fieldset>
          </form>
        </div>
        <div class="review" ng-repeat="review in course.reviews" ng-click="expand(review)" ng-class="{expand: review.expanded}">
          <img src="http://placekitten.com/g/40/40"/>
          <div class="name">A <b>{{review.field}}</b> Student<span ng-if="review.professor"> — {{review.professor}}</span>
            <div class="opinion">
              Like <i class="fa" ng-class="{'fa-thumbs-o-up': review.like, 'fa-thumbs-o-down': !review.like}"></i>
              Useful <i class="fa" ng-class="{'fa-thumbs-o-up': review.useful, 'fa-thumbs-o-down': !review.useful}"></i>
              Easy <i class="fa" ng-class="{'fa-thumbs-o-up': review.easy, 'fa-thumbs-o-down': !review.easy}"></i>
            </div>
          </div>
          <div class="description">
            {{review.text}}
          </div>
          <div class="actions">
            <a href="#" ng-click="report(review)">Report</a>
          </div>
        </div>
      </div>
    </div>
</div>
